body{
    height: auto;
    width: 100%;
    background-color: #E0EDFD;
}
#admincontainer{
    height: 100vh;
    width: 15vw;
    background-color: pink;
    display: flex;
}
#admincontainer #left{
    height: 100vh;
    width: 15vw;
    background-color: #F7F7F7;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 0px 2px #191414;
}
#genreal{
    height: 70vh;
    padding: 2px;
}
#genreal div{
   margin: 20px 15px;
   padding: 10px;
   font-size: 17px;
}
#genreal a{
    color: #191414;
}
#adminlogout{
    height: 24vh;
    padding: 120px 15px 10px 10px;
}
#adminlogout div{
    padding: 15px;
}
#adminlogout a:hover,#genreal a:hover{
     color: #F5A0C2;
}
#adminlogout a{
    font-size: 17px;
    color: #191414;
}
#welcome-nav{
    height: 40px;
    width: 86%;
    background-color:   #EFEFEF;
    position: absolute;
    top: 0px;
    left: 14vw;
    box-shadow: 0px 1px 2px #191414;
}
#welcome-nav p{
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #191414;
    font-size: 23px;
    letter-spacing: 2px;
}
#addcategory{
    height: 35vh;
    width: 30vw;
    background-color: #E3C7DA;
    position: absolute;
    top: 20vh;
    left: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-size: 25px;
    border-radius: 20px;
}
#addcategory input ,#cat{
    height: 4vh;
    width: 20vw;
    margin: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 16px;
}
#addcategory #btn{
    font-size: 16px;
    background-color: #EFEFEF;
    cursor: pointer;
}
#addcategory #btn:hover{
    background-color: #FFF3E3;
}
